<footer class="footer mt-auto py-2 bg-body-tertiary mb-0">
    <div class="container-fluid">
        <div class="row text-body-secondary">
            <div class="col-6">
                <p class="mb-0">
                    Last update: {{ site.time | date: "%d/%m/%Y" }} at {{ site.time | date: "%H:%M" }}
                </p>
            </div>
            <div class="col-6 text-end">
                <p class="mb-0">
                    Made with ❤️ by the Department's Communication Team 🦉
                </p>
            </div>
        </div>
    </div>
</footer>