extends layout.pug

block content
  .row.pt-5.mt-2
    .col-md-6
      include upcoming
    .col-md-5
      include next
    .col-1
      img(src='assets/qr.png',width='100%').float-end.rounded.mt-4.mb-4
  .row.footer.mt-0
    include footer
