.row.mt-4.mb-4
  h1 #[span.emoji 🔮] Next Events

.row.project
  .col-2
    h3.mb-0 6th
    h5.month.mb-0 June
    p 15:00
  .col-10
    p.author #[span.me Adam Herout]
    h4.title.mb-1
      | Self-Supervised Learning for Sports Pose Recognition/Classification
    p.address Sala Seminari Ovest
.row.project
  .col-2
    h3.mb-0 7th
    h5.month.mb-0 June
    p 11:00
  .col-10
    p.author #[span.me Adam Herout]
    h4.title.mb-1
      | Automatic Camera Calibration for Traffic Surveillance
    p.address Sala Seminari Ovest
.row.project
  .col-2
    h3.mb-0 10th
    h5.month.mb-0 June
    p 15:00
  .col-10
    p.author #[span.me Giuseppe Lomurno]
    h4.title.mb-1
      | Counterpart Semantics for Quantified Temporal Logic
    p.address Sala Seminari Est
.row.project
  .col-2
    h3.mb-0 16th
    h5.month.mb-0 June
    p 17:00
  .col-10
    p.author #[span.me Moshe Y. Vardi]
    h4.title.mb-1
      | COVID-19 and the 737 Max: Efficiency vs Resilience
    p.address Online Event