.row.mt-4.mb-4
  h1 #[span.emoji 🔮] Next Events

.row.project
  .col-2
    h3.mb-0 6th
    h5.month.mb-0 October
    p 9:30
  .col-10
    p.author #[span.me ]
    h4.title.mb-1
      | Internet Festival 
    p.address 
.row.project
  .col-2
    h3.mb-0 7th
    h5.month.mb-0 October
    p 18:15
  .col-10
    p.author #[span.me Pisa.dev]
    h4.title.mb-1
      | Hacktoberfest 2022: introduzione al mondo dell’open source
    p.address 
.row.project
  .col-2
    h3.mb-0 10th
    h5.month.mb-0 October
    p 00:00
  .col-10
    p.author #[span.me ]
    h4.title.mb-1
      | End of second PhD year discussions (all week)
    p.address 
.row.project
  .col-2
    h3.mb-0 17th
    h5.month.mb-0 October
    p 00:00
  .col-10
    p.author #[span.me ]
    h4.title.mb-1
      | End of first PhD year discussions (all week)
    p.address 