.row.mt-4.mb-2
  h1 #[span.emoji 🚀] Upcoming

.row.next
  .col-9
    p.author #[span.me Superhero Valley]
    h2.title.mb-0.mt-1
      | Hello Superheroes
    p.address 
  .col-2
    h1.day 3rd
    h4.month.mb-0 October
    p 18:30
  .col-11
      p
        | No abstract available
      