.info {
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    background-color: #283542;
    /* Curvature of the border */
    border-radius: 0.25rem 0 0 0.25rem;
    height: 100%;
}

body {
    background: linear-gradient(
        #1f2933,
        #303030,
        #1f2933 50%,
        #303030,
        #1f2933
    );
    background-size: 100% 200%;
    animation-iteration-count: 1;
    animation-name: gradient;
    animation-duration: 10s;
    color: #e4e7eb;
}

.card-title {
    font-weight: bold;
    color: #ffad44;
}

.day {
    font-weight: bold;
    margin-bottom: -0.2rem !important;
}

.month {
    font-weight: bold;
}

.hashtag {
    color: #ffad44;
}

.location::before {
    content: "“";
}

.location::after {
    content: "“";
}

.card-footer {
    text-align: right;
}

.live-icon {
    animation: blinker 1.5s step-start infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.text-large {
    font-size: 110%;
}
