doctype html
html(lang="en")
  head
    title= "0xFEED"
    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width,initial-scale=1")

    link(href="css/bootstrap.min.css",rel="stylesheet")
    script(src="js/bootstrap.bundle.min.js")
    link(href="css/style.css",rel="stylesheet")
  body
    .container
      block content
